{%- capture fullTitle -%}
	{% if title %}{{ title }} ∙ {{ metadata.title }}{% else %}{{ metadata.title }}{% endif %}
{%- endcapture -%}

<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ fullTitle }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="generator" content="{{ eleventy.generator }}">

		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ fullTitle }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ fullTitle }}">

		{% css "lib" %}
		{% include '@unocss/reset/tailwind.css' %}
		{% include 'katex/dist/katex.min.css' %}
		{% endcss %}
		{% css %}
		{% include 'uno.css' %}
		{% include 'fonts.css' %}
		{% include 'main.css' %}
		{% endcss %}
		<link rel="stylesheet" href="{% getBundleFileUrl "css", "lib" %}">
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<div class="flex flex-col justify-between h-full max-w-[var(--width-content)] px-[0.8rem] my-0 mx-auto">
			<div>
				<header>
					<a href="/" class="home-link">{{ metadata.title }}</a>

					<nav>
						<h2 class="visually-hidden">Top level navigation menu</h2>
						<ul class="nav">
							<li class="nav-item">
								<a
									href="/about"
									{% if entry.url == '/about' %}
										aria-current="page"
									{% endif %}
									>About</a
								>
							</li>
						</ul>
					</nav>
				</header>
				<main id="skip">
					{{ content }}
				</main>
			</div>
			<footer></footer>
		</div>
	</body>
</html>
