---
layout: base
---
<div class="post-body slide-enter-content">
	<h1
		{% if bigTitle %}
			class="font-normal text-center text-textHighContrast text-[2.8rem] md:text-[3.4rem]"
		{% elsif subtitle %}
			class="mb-2"
		{% endif %}
	>
		{{ title }}
		{% if subtitle %}
			<h2
				class="
					antialiased text-[1.2rem] italic text-textSecondary
					{% if bigTitle %}
						before:content-['~'] before:pr-[.64rem] before:text-textDisabled
						after:content-['~'] after:pl-[.64rem] after:text-textDisabled
						flex justify-center items-center text-center
					{% endif %}
				"
			>
				{{ subtitle }}
			</h2>
		{% endif %}
	</h1>
	{% if not bigTitle %}
		<p>
			<time class="font-grotesk font-medium text-textMuted" datetime="{{ date | htmlDateString }}">
				{{- date | readableDate -}}
			</time>
		</p>
	{% endif %}
	{{ content }}
</div>
